/.dist
/.venv
/.vscode
/ai_cocking
/C++
/codeNamthip
/comprog_cedt
/contest.c
/contest.exe
/C_for_kids
/finish.csv
/food.csv
/Java
/line_notify
/Makefile.depend
/MakeX Challenger3_backup2.mblock
/MakeX.py
/MakeX_v2.py
/minimakex.mblock
/Ocom_22
/Ocom_23
/Python
/road_to_web_devs
/S28_Marc
/tag.csv
/thonny
/tutorial_js